<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <package android:name="com.huawei.hinote" />
        <intent><action android:name="android.intent.action.SEND" /><data android:mimeType="*/*" /></intent>
    </queries>
    <application>
        <receiver android:name=".NotesTransferService$StopReceiver" android:exported="false" />
        <service android:name=".NotesTransferService" android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="HiNote · Pruebas de trazos">
            <intent-filter><action android:name="android.accessibilityservice.AccessibilityService" /></intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/notes_transfer_service" />
        </service>
        <provider android:name=".ProbeFileProvider"
            android:authorities="${applicationId}.probe-files"
            android:exported="false" android:grantUriPermissions="true" />
        <activity android:name=".MainActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
